fb_cred:
  account: '<fb_account>'
  password: '<fb_password>'

pushover:
  api_token: '<your_pushover_app_token>'
  user_key: '<your_pushover_user_key>'

group_id: '<fb_group_to_scrape>'

keywords:
  - '<keyword1>'
  - '<keyword2>'
  - '<keyword3>'

message: '<message_format>'
